* {
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fdf6e3;
  padding: 20px;
  margin: 0;
  background-image: url(bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2 {
  text-align: center;
  color: #5c492c;
}
.budget-form {
  box-shadow: inset 2px 3px 6px rgb(5, 5, 5);

  background: #e9edc9;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 15px 9px 5px;
  font-weight: 600;
  color: #5c492c;
  font-size: 18px;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  border-radius: 88px;
  border: 2px solid #dbe1bc;
  background: transparent;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: inset 2px 3px 6px rgb(5, 5, 5);
}
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #f4a261;
}
button {
  margin: 10px 5px;
  padding: 12px 20px;
  background-color: #87986a;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
}
button:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: inset 2px 3px 6px rgb(5, 5, 5);
}
.category-list {
  margin-top: 20px;
}
.category-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}
.category-item input {
  flex: 1;
}
.remove-btn {
  background-color: #cf9963;
  padding: 8px 12px;
  font-size: 12px;
}
.button-group {
  text-align: center;
  margin-top: 20px;
}
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  border-radius: 89px;
  font-weight: bold;
}
.back-btn:hover {
      transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: inset 2px 3px 6px rgb(5, 5, 5);
}
.summary {
  background: #b9c29e;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
    box-shadow: inset 2px 3px 6px rgb(5, 5, 5);

}
.summary h3 {
  margin: 0 0 10px 0;
  color: #5c492c;
}
/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  color: #5c492c;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 200px;
  height: var(--height);
  background-color: transparent /*change this*/;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: ;
  background: linear-gradient(45deg, #b9c29e, #e9edc9);

  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: linear-gradient(45deg, #d4a373, #d4a373);

  width: 10px;
  height: 45px;
  opacity: 0.3;
  rotate: 45deg;
}

@keyframes loading {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
