html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
}

.bg1 {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inputs {
    position: absolute;
    top: 50%;   
    left: 50%;   
    transform: translate(-50%, -50%) scale(1.2); /* Center AND scale idiot */
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.input1, .input2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #e9edc9;
    margin-bottom: 20px; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.input1::placeholder,
.input2::placeholder {
    color: #e9edc9;
    opacity: 1; 
}


.btn1{
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: none;
    font-size: 1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.2s ease-in;
    border-radius: 30px;
    color: #fefae0;
    font-weight: 600;
}

.btn1:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

  .h2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7em;
    font-weight: 600;
    color: #fefae0;
  }

  .btn2{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: all 0.2s ease-in;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
  }

  .btn2:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

a{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
    form{
        transform: scale(0.9);
    }
}